<html>
    <body>
        <script>!(function () {
            let e = document.createElement("script"),
              t = document.head || document.getElementsByTagName("head")[0];
            (e.src =
              "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.0/lib/index.js"),
              // Replace 1.x.x with the version that you want
              (e.async = !0),
              (e.onload = () => {
                window.WebChat.default(
                  {
                    initPayLoad: '/greet',
                    customData: { language: "en" },
                    socketUrl: "http://localhost:5005",
                    // add other props here
                  },
                  null
                );
              }),
              t.insertBefore(e, t.firstChild);
          })();
          </script>
          <a class="button"href= "{{url_for('logout')}}">LOGOUT</a><br>
    </body>
<style>
body 
  {
    background-color: #273c75;
    font-family: sans-serif;
  }

.button
  {
    display: block;
    width: 135px;
    height: 25px;
    background: none;
    padding: 10px;
    border: 2px solid red;
    text-align: center;
    color: white;
    line-height: 25px;
    position: relative;
    top: 50%;
    left: 45%;
    transition: 0.25s;
    text-decoration: none;
}

.button:hover
  {
  background-color: red;
  }
</style>
</html>